<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Test</h1>
    <table border="2">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee City</th>
        </tr>
        {% for model in emp %}
        <tr>
            <td>{{model.emp_id}}</td>
            <td>{{model.emp_name}}</td>
            <td>{{model.emp_addr}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>