<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{movie.name}} details</h1>
    <ul>

        <li>Name: <strong>{{movie.name}}</strong></li>
        <li>Director: <strong>{{movie.director}}</strong></li>
        <li>Rating: <strong>{{movie.rating}}</strong></li>
    </ul>
    <a href="\update/{{movie.id}}">Edit</a>
    <a href="\delete/{{movie.id}}">Delete</a>
    <a href="/">BACK</a>
</body>

</html>