{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round Image with Circular Hover Menu</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="heading">
        <div id="title">
            <p><span>J</span>aya <span>P</span>rakash</p>
        </div>
        <nav id="nav">
            <section>
                <a href="test1/">About</a>
                <a href="test2/">Projects</a>
                <a href="">Skills</a>
                <a href="">Contacts</a>
                <a href="" id="resume" onmouseover="Down()" onmouseout="resume()">Resume</a>
            </section>
        </nav>
    </header>

    <main class="roboto-regular-italic">
        <div class="main">
          
            <table border="2px">
                <thead>
                    <th>Roll Number</th>
                    <th>Student Name</th>
                    <th>Marks</th>
                </thead>
                {% for student in my_dict %}
                <tr>
                    <td>{{ student.roll }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.marks }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

    <footer></footer>

    <script>
        const res = document.getElementById("resume");
        function Down() {
            res.textContent = "Download"
            res.id = "resume1"
        }

        function resume() {
            res.textContent = "Resume"
            res.id = "resume";
        }
    </script>
</body>

</html>