{% extends 'testapp/index.html' %}
{% block body_block %}
<br>
<div style="text-align: center; display: flex; justify-content: center;">
    {% if movies %}
    <table border="3" style="width: 50%;">

        <thead>
            <th>Movie Name:</th>
            <th>Hero</th>
            <th>Heroine</th>
            <th>Rating (?/10)</th>
        </thead>
        {% for i in movies %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.hero}}</td>
            <td>{{i.heroine}}</td>
            <td>{{i.rating}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Records found</h1>
    {% endif %}
</div>
{% endblock %}
<!-- </div>
</body>

</html> -->